.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editButton {
    background-color: #ffc107;
    border-radius: 5px;
    border-color: #ffc107;
}

.deleteButton {
    background-color: #dc3545;
    border-radius: 5px;
    border-color: #dc3545;
    color: white;
    margin-left: 10px;
}