.header {
    grid-area: header;
    background-color: rgba(30, 143, 255, 0.854);
    color: white;
    font-weight: lighter;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header > .title {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
}

.header > .toggle {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}