.articlesByCategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.articlesList {
    margin-top: 25px;
    list-style-type: none;
    padding: 0px;
}

.articlesList li {
    margin-bottom: 20px;
}

#button {
    flex: 0;
}